/* Components */

/* Cards */

.cards {
  list-style: none;
}

.cards .card {
  display: inline-block;
}


/* Card */

.card {
  border: 1px solid;
  padding: 20px;
  border-radius: 8px;
}

.card--dashed {
  border: dashed 1px #AFACAC;
  color: #AFACAC;
}

.card__head {
  text-align: center;
  padding: 10px;
}

.card__body {
  border-top: 1px solid;
  padding: 10px;
  text-align: center;
}

.card__subtitle {
  color: gray;
}





/* Counter */

.counter {
  font-size: 60px;
}





.site-logo {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  vertical-align: bottom;
  padding-bottom: 22px;
  padding-right: 20px;
}





/* Primary content */

.primary-content {
  position: relative;
  top: 50px;
}





.price {
  text-align: right;
}

.price:after {
  content: "€";
  display: inline-block;
  padding: 0 10px 0 10px;
}





.btn {
  box-sizing: border-box;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

a.btn {
  padding: 15px 0;
}

.btn--round {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: none;
}

.btn--round.btn--small {
  font-size: 15px;
  height: 30px;
  width: 30px;
}
